<template>
  <div>
    <div class="sideBar">
      <img :src="image" alt="logo">
      <div class="list">
        <b-list-group flush>
          <b-list-group-item to="/panel/games">بازی‌ها</b-list-group-item>
          <b-list-group-item to="/panel/award">جایزه‌ها</b-list-group-item>
          <b-list-group-item to="/panel/winners">برنده‌ها</b-list-group-item>
          <b-list-group-item to="/panel/customers">مشتری‌ها</b-list-group-item>
          <b-list-group-item to="/panel/location">مکان‌ها</b-list-group-item>
        </b-list-group>
      </div>
      <b-button type="submit" @click="logout">LogOut</b-button>
    </div>
  </div>
</template>

<script>
import router from '../../routes/routes'

export default {
  data() {
    return {
      image: require('@/assets/images/Header/logo.png'),
    }
  },
  methods: {
    logout() {
      localStorage.setItem('userToken', null);
      router.push('/panel/login')
    }
  }
}
</script>

<style scoped>
p {
  margin-top: 0;
}

img {
  width: 100%;
  padding: 0;
}

.sideBar {
  border: 5px solid #ee6425;
  width: 200px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 10px;
}

b-button {
  margin-top: 100px;
}
</style>
