<template>
  <div class="winners">
    <div class="winnersTable">

      <div class="header">
        <h3>برنده ها</h3>
      </div>


      <hr>
      <table>
        <tr>
          <th>شناسه بازی</th>
          <th>بازی</th>
          <th>مشتری</th>
          <th>موبایل مشتری</th>
        </tr>
        <tr v-for="(item , index)  in items" :key="index">
          <td>{{ item.game_id }}</td>
          <td>{{ item.game }}</td>
          <td>{{ item.customer }}</td>
          <td>{{ item.customer_mobile }}</td>
        </tr>
      </table>

    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'
import axios from "../../../axios-project";

export default {
  components: {
    SideBar
  },
  data() {
    return {
      items: [],
      name: '',
      nameState: '',
      token: localStorage.getItem('userToken')
    }
  },
  beforeMount() {
    axios.get('/panel/manage/winners', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.items = res.data.data;
        }).catch(error => console.log(error))
  },
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRow {
  flex-direction: row-reverse;
  margin-left: 740px;
  cursor: pointer;
}

.winners {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.winnersTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

</style>
