<template>
  <div class="games">
    <div class="gamesTable">

      <div class="header">
        <h3>بازی ها</h3>

        <div>
          <b-row class="text-md-center buttonRow">
            <b-col v-b-modal.modal-prevent-closing md="10" class="mb-10">
              <b-icon icon="plus" font-scale="2"></b-icon>
            </b-col>
          </b-row>

          <b-modal
              id="modal-prevent-closing"
              ref="modal"
              title="ایجاد بازی جدید"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
          >
            <form ref="form" @submit.stop.prevent="handleSubmit">
              <label>تیم میزبان:</label>
              <br>
              <b-form-select class="formSelect" v-model="host_team_id">
                <b-form-select-option
                    v-for="(team , index) in teams"
                    :key="index"
                    :value="team.value"
                >
                  {{ team.label }}
                </b-form-select-option>
              </b-form-select>

              <label>تیم مهمان:</label>
              <br>
              <b-form-select class="formSelect" v-model="guest_team_id">
                <b-form-select-option
                    v-for="(guestTeam , index) in teams"
                    :key="index"
                    :value="guestTeam.value"
                >
                  {{ guestTeam.label }}
                </b-form-select-option>
              </b-form-select>

              <label>جایزه:</label>
              <br>
              <b-form-select class="formSelect" v-model="award">
                <b-form-select-option
                    v-for="(awardGame , index) in awards"
                    :key="index"
                    :value="awardGame.value"
                >
                  {{ awardGame.label }}
                </b-form-select-option>
              </b-form-select>

              <p>تاریخ شروع:</p>
              <custom-date-picker v-model="start_at" type="datetime"/>
            </form>
          </b-modal>
        </div>
      </div>


      <hr>
      <table>
        <tr>
          <th>شناسه</th>
          <th>تیم میزبان</th>
          <th>تیم مهمان</th>
          <th>نتیجه</th>
          <th>زمان شروع</th>
          <th>زمان ایجاد</th>
          <th>زمان به روزرسانی</th>
          <th>عملیات</th>
        </tr>
        <tr v-for="(item , index)  in items" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.host_team }}</td>
          <td>{{ item.guest_team }}</td>
          <td>{{ item.result_translate }}</td>
          <td>{{ item.start_at }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>
          <td>
            <div class="actionsForm">
              <b-icon icon="trash-fill" font-scale="1" style="cursor: pointer" @click="destroyFun(item.id)"></b-icon>
              <b-icon></b-icon>
              <b-icon icon="nut" style="cursor: pointer" font-scale="1" @click="goToUpdate(item)"></b-icon>
              <b-icon></b-icon>
              <b-icon v-b-modal.modal-1
                      icon="pencil-fill"
                      style="cursor: pointer"
                      font-scale="1"
                      @click="goToUpdateResult(item)"></b-icon>
            </div>
          </td>
        </tr>
      </table>

    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'
import axios from "../../../axios-project";
import router from '../../../routes/routes'
// import VuePersianDatetimePicker from 'vue-persian-datetime-picker'

export default {
  components: {
    SideBar,
  },
  data() {
    return {
      items: [],
      teams: [],
      start_at: null,
      host_team_id: 0,
      guest_team_id: 0,
      award: '',
      awards: [],
      token: localStorage.getItem('userToken')
    }
  },
  beforeMount() {
    axios.get('/panel/manage/games', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.items = res.data.data;
        }).catch(error => console.log(error))

    axios.get('/panel/manage/team/list', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.teams = res.data.data;
        }).catch(error => console.log(error))

    axios.get('/panel/manage/award/list', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.awards = res.data.data;
        }).catch(error => console.log(error))
  },
  methods: {
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvent) {
      // Prevent modal from closing
      bvModalEvent.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      let data = {
        'host_team_id': this.host_team_id,
        'guest_team_id': this.guest_team_id,
        'start_at': this.start_at,
        'award_id': this.award,
      };
      axios.post('/panel/manage/games', data,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message)
            router.go()
          }).catch(error => {
        alert(error.response.data.message)
      })
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing')
      })
    },
    destroyFun(itemId) {
      axios.delete('/panel/manage/games/' + itemId,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.go();
          }).catch(error => {
        alert(error.response.data.message)
      })
    },
    goToUpdate(item) {
      router.push({
        name: 'gamesUpdate',
        params: {
          id: item.id,
        }
      });
    },
    goToUpdateResult(item) {
      router.push({
        name: 'gamesUpdateResult',
        params: {
          id: item.id,
          result: item.result,
          hostTeam: item.host_team,
          guestTeam: item.guest_team,
        }
      });
    },
  }
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRow {
  flex-direction: row-reverse;
  cursor: pointer;
}

.games {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.gamesTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

form {
  padding: 10px;
}

.formSelect {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  direction: rtl;
}

.actionsForm {
  display: flex;
  flex-direction: row;
}

</style>
