<template>
  <div class="gameUpdate">
    <div class="gameUpdateTable">
      <h3>به روزرسانی بازی</h3>

      <div class="gameForm">
        <form @submit.stop.prevent>
          <label>تیم میزبان:</label>
          <br>
          <b-form-select class="formSelect" v-model="host_team_id">
            <b-form-select-option
                v-for="(team , index) in teams"
                :key="index"
                :value="team.value"
            >
              {{ team.label }}
            </b-form-select-option>
          </b-form-select>

          <label>تیم مهمان:</label>
          <br>
          <b-form-select class="formSelect" v-model="guest_team_id">
            <b-form-select-option
                v-for="(team , index) in teams"
                :key="index"
                :value="team.value"
            >
              {{ team.label }}
            </b-form-select-option>
          </b-form-select>

          <label>جایزه:</label>
          <b-form-select class="formSelect" v-model="award_id">
            <b-form-select-option
                v-for="(awardGame , index) in awards"
                :key="index"
                :value="awardGame.value"
            >
              {{ awardGame.label }}
            </b-form-select-option>
          </b-form-select>

          <p>تاریخ شروع:</p>
          <custom-date-picker v-model="start_at" type="datetime"/>
          <b-button class="updateForm" variant="success" @keyup.enter="update" @click="update">Update</b-button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../../axios-project";
import router from "@/routes/routes";

export default {
  data() {
    return {
      teams: [],
      id: null,
      game: null,
      host_team_id: 0,
      guest_team_id: 0,
      start_at: null,
      token: localStorage.getItem('userToken'),
      award_id: 0,
      awards: {},
    }
  },
  beforeMount() {
    axios.get('/panel/manage/team/list', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.teams = res.data.data;
        }).catch(error => console.log(error))

    axios.get('/panel/manage/award/list', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.awards = res.data.data;
        }).catch(error => console.log(error))
  },
  mounted() {
    this.id = this.$route.params.id;

    axios.get('/panel/manage/games/' + this.id, {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.game = res.data.data;
          this.start_at = this.game.start_at_gregorian
          this.host_team_id = this.game.host_team_id
          this.guest_team_id = this.game.guest_team_id
        }).catch(error => console.log(error))

  },
  methods: {
    update() {
      let data = {
        'host_team_id': this.host_team_id,
        'guest_team_id': this.guest_team_id,
        'start_at': this.start_at,
        'award_id': this.award_id,
      };
      axios.put('/panel/manage/games/' + this.id, data,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.push({name: 'games'});
          }).catch(error => {
        alert(error.response.data.message)
      })
    }
  }
}
</script>

<style scoped>
.gameUpdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gameUpdateTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

.updateForm {
  margin: 10px;
}

.gameForm {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formSelect {
  padding: 5px;
  margin: 5px;
}

</style>
