<template>
  <div class="gamesResult">
    <div class="gamesResultTable">
      <h3>تعیین نتیجه بازی و انجام قرعه کشی</h3>
      <p>میزبان:   {{ hostTeam }} - مهمان: {{ guestTeam }}</p>
      <div class="gameForm">
        <form @submit.stop.prevent>
          <label>نتیجه:</label>
          <br>
          <b-form-select class="formSelect" v-model="result">
            <b-form-select-option
                v-for="(resultItem , index) in results"
                :key="index"
                :value="resultItem.value"
            >
              {{ resultItem.label }}
            </b-form-select-option>
          </b-form-select>

          <b-button class="updateForm" variant="success" @keyup.enter="update" @click="update">ذخیره نتیجه</b-button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../../axios-project";
import router from "@/routes/routes";

export default {
  data() {
    return {
      results: [],
      id: null,
      result: 0,
      token: localStorage.getItem('userToken'),
      hostTeam: '',
      guestTeam: '',
    }
  },
  beforeMount() {
    axios.get('/panel/manage/games/result/list', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.results = res.data.data;
        }).catch(error => console.log(error.response.data))
  },
  mounted() {
    this.id = this.$route.params.id;
    this.result = this.$route.params.result;
    this.hostTeam = this.$route.params.hostTeam;
    this.guestTeam = this.$route.params.guestTeam;
  },
  methods: {
    update() {
      let data = {
        'result': this.result,
      };
      axios.post('/panel/manage/games/' + this.id + '/result', data,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.push({name: 'games'});
          }).catch(error => {
        alert(error.response.data.message)
      })
    }
  }
}
</script>

<style scoped>
.gamesResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gamesResultTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

.updateForm {
  margin: 10px;
}

.gameForm {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formSelect {
  padding: 5px;
  margin: 5px;
}

</style>
