<template>
  <div class="body">
    <app-header class="header" :persianDate="persianDate" :point="point"></app-header>
    <app-main-pic></app-main-pic>
    <app-games-header></app-games-header>
    <app-games-result @sendPersianDate="getDate" @sendPoint="getPoint"></app-games-result>
    <app-winners-header></app-winners-header>
    <app-winners-slider @sendWinners="sendWinnersData"></app-winners-slider>
    <app-winners-name :winnersDay="winnersDay"></app-winners-name>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from './DetailsPage/Header/HeaderComponent'
import AppMainPic from './DetailsPage/MainPic'
import AppGamesHeader from './DetailsPage/Games/GamesHeader'
import AppGamesResult from './DetailsPage/Games/GamesResult'
import AppWinnersHeader from './DetailsPage/Winners/WinnersHeader'
import AppWinnersSlider from './DetailsPage/Winners/WinnersDateSlider'
import AppWinnersName from './DetailsPage/Winners/WinnersName'
import AppFooter from './DetailsPage/Footer/FooterSM'

export default {
  data() {
    return {
      persianDate: 0,
      point: 0,
      winnersDay: '',
    }
  },
  components: {
    AppHeader,
    AppMainPic,
    AppGamesHeader,
    AppGamesResult,
    AppWinnersHeader,
    AppWinnersSlider,
    AppWinnersName,
    AppFooter,
  },
  methods: {
    getDate(event) {
      this.persianDate = event;
    },
    getPoint(event) {
      this.point = event;
    },
    sendWinnersData(event) {
      this.winnersDay = event;
    }

  }
}
</script>

<style>
.body {
  font-family: "Iranian Sans";
  background-color: #F4F4F4;
  height: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
</style>
