<template>
  <div >
    <footer class="vueFooterSM">
      <div class="footerHeader hide">
        <div class="myContainer row">
          <div class="col s5 m4 l4 ltr footerHeaderItem">
            <a href="#" class="hide-on-med-and-down">
              <button class="btn btn-round hidden">!همین الان تامین کننده سفر مارکت شو</button>
              <img src="https://safarmarket.com/data/assets/img/icon/logo_c.png?v1.85.13" class="logo">
            </a>
            <a href="tel:+982196621777" class="hide-on-large-only">
              <button class="btn  btn-round font08">تماس با پشتیبانی</button>
            </a>
          </div>
          <div class="col hide-on-med-and-down l4 center"></div>
          <div class="col s7 l4 footerHeaderItem">
            <div class="padder_5">
              <div>پشتیبانی سفرمارکت</div>
              <span><a href="tel:+982196621777"> ۹۶۶۲۱۷۷۷ - ۰۲۱ </a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="myContainer row applications">
        <div class="col s12 m6 right">
          <h3>اپلیکیشن سفرمارکت</h3>
          <p class="padder_8">با نصب اپلیکیشن سفرمارکت جهان در جیب شماست. <a href="page/app" style="color: #007AFF;">
            اطلاعات بیشتر</a>
          </p>
        </div>
        <div class="col s12 m6  left  applicationMarkets">
          <div>
            <a href="https://play.google.com/store/apps/details?id=com.safarmarket.app" target="_blank"
               class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/googleplay.webp?v1.85.13">
            </a>
          </div>
          <div>
            <a href="https://myket.ir/app/com.safarmarket.app" target="_blank" class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/myket.webp?v1.85.13">
            </a>
          </div>
          <div>
            <a href="https://appgallery.huawei.com/app/C106106577" target="_blank" class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/appgallery.webp?v1.85.13">
            </a>
          </div>
          <div>
            <a href="https://www.charkhoneh.com/content/931148610" target="_blank" class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/charkhune.webp?v1.85.13">
            </a>
          </div>
          <div>
            <a href="https://cafebazaar.ir/app/com.safarmarket.app" target="_blank" class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/bazaar.webp?v1.85.13">
            </a>
          </div>
          <div>
            <a href="https://safarmarket.com/page/pwa" target="_blank" class="link_item">
              <img src="https://safarmarket.com/data/assets/img/misc/application/v2/pwa.webp?v1.85.13">
            </a>
          </div>
        </div>
      </div>
      <div class="myContainer row">
        <hr class="footerHr">
        <div class="col s12 m12 l4 officialBadges">
          <img src="https://safarmarket.com/data/assets/img/icon/logo_h.png?v1.85.13" class="logo">
          <span class="font10 bold">تلفن پشتیبانی : <a href="tel:02196621662">۹۶۶۲۱۶۶۲-۰۲۱</a></span>
          <span class="font09 bold">جهت ارتباط از طریق اپلیکیشن واتس آپ : <a href="tel:02196621662" class="font10">۰۹۰۲۷۷۶۱۸۴۱</a></span>
          <a target="_blank" rel="origin"
             href="https://trustseal.enamad.ir/?id=127116&amp;Code=942CNfdlPy9NA2MGwZ98"><img
              src="https://Trustseal.eNamad.ir/logo.aspx?id=127116&amp;Code=942CNfdlPy9NA2MGwZ98" alt=""
              style="cursor:pointer" id="942CNfdlPy9NA2MGwZ98"></a>
          <img alt="logo-samandehi" id="jxlzwlaooeukrgvjsizpwlao"
               onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=148394&amp;p=rfthaodsmcsixlaopfvlaods','Popup','toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')"
               src="https://safarmarket.com/blog/data/sys_img/icon/samandehi.png"
               style="cursor:pointer;background-color: white;">
          <img src="https://safarmarket.com/data/assets/img/icon/etehadie.webp?v1.85.13" alt=""
               onclick="window.open('https://ecunion.ir/verify/safarmarket.com?token=564760360c09f38a4538', 'Popup','toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')"
               class="pointer">
          <a href="http://aira.ir/" rel="nofollow" target="_blank"><img style="border-radius: 8px"
                                                                        src="https://safarmarket.com/data/assets/img/icon/association.webp?v1.85.13"></a>

          <a href="https://www.raja.ir/" rel="nofollow" target="_blank"><img
              style="border-radius: 8px; padding: 25px 5px;"
              src="https://safarmarket.com/data/assets/img/icon/raja.webp?v1.85.13"></a>
        </div>
        <div class="col s12 l8">
          <div class="footerItem">
            <a href="page/about">
              <div>درباره ما</div>
            </a>
            <a href="page/contact-us">
              <div>تماس با ما</div>
            </a>
            <a href="page/advertise/banners">
              <div>کی بهتر از تو</div>
            </a>
            <a href="page/faq">
              <div>پرسش و پاسخ</div>
            </a>
            <a href="blog">
              <div>مجله سفرمارکت</div>
            </a>
            <a href="page/careers">
              <div>فرصت های شغلی</div>
            </a>
          </div>
          <div class="footerItem">
            <a href="page/certificates">
              <div>مجوزها</div>
            </a>
            <a href="page/privacy">
              <div>حریم خصوصی</div>
            </a>
            <a href="page/terms">
              <div>قوانین و مقررات</div>
            </a>
            <a href="campaigns/qatar-world-cup-tour">
              <div>تور جام جهانی قطر ۲۰۲۲</div>
            </a>
            <a href="page/advertise">
              <div>تبلیغات در سفرمارکت</div>
            </a>
            <a href="page/why">
              <div>۱۰ دلیل برای انتخاب سفرمارکت</div>
            </a>
          </div>
          <div class="footerItem">
            <a href="https://safarmarket.com/flights">
              <div>بلیط هواپیما</div>
            </a>
            <a href="https://safarmarket.com/flights/dubai">
              <div>بلیط هواپیما دبی</div>
            </a>
            <a href="https://safarmarket.com/flights/kish">
              <div>بلیط هواپیما کیش</div>
            </a>
            <a href="https://safarmarket.com/flights/mashhad">
              <div>بلیط هواپیما مشهد</div>
            </a>
            <a href="https://safarmarket.com/flights/tbilisi">
              <div>بلیط هواپیما تفلیس</div>
            </a>
            <a href="https://safarmarket.com/campaigns/tour_instalment">
              <div>تور اقساطی</div>
            </a>
          </div>
          <div class="footerItem">
            <a href="https://ecrating.ir/Clientdomains" rel="nofollow" target="_blank">
              <div>سنجش رضایتمندی</div>
            </a>
            <a href="https://safarmarket.com/flights/istanbul">
              <div>بلیط هواپیما استانبول</div>
            </a>
            <a href="https://safarmarket.com/flights/charter">
              <div>بلیط هواپیما چارتر</div>
            </a>
            <a href="https://safarmarket.com/flights/international">
              <div>بلیط هواپیما خارجی</div>
            </a>
            <a href="https://safarmarket.com/flights/toronto">
              <div>بلیط هواپیما تورنتو</div>
            </a>
            <a href="https://safarmarket.com/safar-tools">
              <div>راهنمای سفر</div>
            </a>
            <br>
          </div>
        </div>
      </div>
      <div class="myContainer row">
        <div class="socialIcons  left ">
          <div>
            <a href="https://safarmarket.com/tv">
              <div>
                <img src="https://safarmarket.com/data/assets/img/icon/social/v3/safartv.webp?v1.85.13">
              </div>
            </a>
            <a rel="nofollow" href="https://www.linkedin.com/company/safarmarket">
              <div>
                <img src="https://safarmarket.com/data/assets/img/icon/social/v3/linkedin.webp?v1.85.13">
              </div>
            </a>
            <a rel="nofollow" href="https://www.aparat.com/safarmarket">
              <div>
                <img src="https://safarmarket.com/data/assets/img/icon/social/v3/aparat.webp?v1.85.13">
              </div>
            </a>
            <a rel="nofollow" href="https://www.instagram.com/safarmarket">
              <div>
                <img src="https://safarmarket.com/data/assets/img/icon/social/v3/instagram.webp?v1.85.13">
              </div>
            </a>
          </div>
        </div>
        <div class="right footerFooter">
          کلیه حقوق این سایت متعلق به شرکت ایرسا آسمان تابناک ایرانیان (سفرمارکت) می&zwnj;باشد.
          استفاده از مطالب سایت سفرمارکت فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
        </div>
      </div>
    </footer>
  </div>
</template>
<script>

</script>

<style scoped>
.vueFooterSM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
</style>
