<template>
  <div class="winners">
    <div class="winnersTable">

      <div class="header">
        <h3>مشتری‌ها</h3>
      </div>


      <hr>
      <table>
        <tr>
          <th>شناسه</th>
          <th>نام</th>
          <th>موبایل</th>
          <th>امتیاز</th>
          <th>زمان ثبت نام</th>
          <th>زمان به روزرسانی</th>
          <th>عملیات</th>
        </tr>
        <tr v-for="(item , index)  in items" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.full_name }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.point }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>
          <td>
            <div class="actionsForm">
              <b-icon icon="trash-fill" font-scale="1" style="cursor: pointer" @click="destroyFun(item.id)"></b-icon>
            </div>
          </td>
        </tr>
      </table>

    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'
import axios from "../../../axios-project";
import router from "@/routes/routes";

export default {
  components: {
    SideBar
  },
  data() {
    return {
      items: [],
      name: '',
      nameState: '',
      token: localStorage.getItem('userToken')
    }
  },
  beforeMount() {
    axios.get('/panel/manage/customers', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.items = res.data.data;
        }).catch(error => console.log(error))
  },
  methods: {
    destroyFun(itemId) {
      axios.delete('/panel/manage/customers/' + itemId,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.go();
          }).catch(error => console.log(error))
    },
  }
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRow {
  flex-direction: row-reverse;
  margin-left: 740px;
  cursor: pointer;
}

.winners {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.winnersTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

</style>
