<template>
  <div class="dashboard">
    <div class="dashboardTable">
      <p><b>Welcome to the SafarMarket WorldCup Campaign ... !</b></p>
    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'

export default {
  components: {
    SideBar
  },
  data() {
    return {}
  }
}

</script>

<style scoped>
.dashboard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.dashboardTable {
  width: 1000px;
  height: 400px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

p {
  font-size: 45px;
}
</style>
