<template>
  <div class="location">
    <div class="locationTable">

      <div class="header">
        <h3>مکان ها</h3>

        <div>
          <b-row class="text-md-center buttonRow">
            <b-col v-b-modal.modal-prevent-closing md="10" class="mb-10">
              <b-icon icon="plus" font-scale="2"></b-icon>
            </b-col>
          </b-row>

          <b-modal
              id="modal-prevent-closing"
              ref="modal"
              title="ایجاد مکان جدید"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
          >
            <form ref="form" @submit.stop.prevent="handleSubmit">
              <b-form-group
                  label="نام مکان:"
                  label-for="name-input"
                  invalid-feedback="Name is required"
                  :state="nameState"
              >
                <b-form-input
                    id="name-input"
                    v-model="name"
                    :state="nameState"
                    required
                ></b-form-input>
              </b-form-group>
            </form>
          </b-modal>
        </div>
      </div>


      <hr>
      <table>
        <tr>
          <th>شناسه</th>
          <th>نام</th>
          <th>زمان ایجاد</th>
          <th>زمان به روزرسانی</th>
          <th>عملیات</th>
        </tr>
        <tr v-for="(item , index)  in items" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>
          <td>
            <b-icon icon="trash-fill" style="cursor: pointer" @click="destroyFun(item.id)"></b-icon>
            <b-icon></b-icon>
            <b-icon icon="nut" style="cursor: pointer" font-scale="1" @click="goToUpdate(item.id, item.name)"></b-icon>
          </td>
        </tr>
      </table>

    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'
import axios from "../../../axios-project";
import router from '../../../routes/routes'

export default {
  components: {
    SideBar
  },
  data() {
    return {
      items: [],
      name: '',
      nameState: '',
      token: localStorage.getItem('userToken')
    }
  },
  beforeMount() {
    axios.get('/panel/manage/location', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.items = res.data.data;
        }).catch(error => console.log(error))
  },
  methods: {
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvent) {
      // Prevent modal from closing
      bvModalEvent.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      axios.post('/panel/manage/location', {'name': this.name},
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message)
            router.go()
          }).catch(error => {
        alert(error.response.data.message)
      })
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing')
      })
    },
    destroyFun(itemId) {
      axios.delete('/panel/manage/location/' + itemId,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.go();
          }).catch(error => {
        alert(error.response.data.message)
      })
    },
    goToUpdate(itemId, name) {
      router.push({name: 'locationUpdate', params: {id: itemId, name: name}});
    }
  }
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRow {
  flex-direction: row-reverse;
  margin-left: 740px;
  cursor: pointer;
}

.location {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.locationTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

table {
  width: 100%;
  direction: rtl;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

</style>
