<template>
  <div class="location">
    <div class="locationTable">
      <h3>Update Location</h3>

      <div>
        <form @submit.stop.prevent>
          <label for="feedback-user">Location Name:</label>
          <br>
          <input id="feedback-user" v-model="name">
          <br>
          <b-button class="updateForm" variant="success" @keyup.enter="update" @click="update">Update</b-button>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../../axios-project";
import router from "@/routes/routes";

export default {
  data() {
    return {
      name: '',
      id: 0,
      token: localStorage.getItem('userToken'),
    }
  },
  mounted() {
    this.name = this.$route.params.name;
    this.id = this.$route.params.id;
  },
  methods: {
    update() {
      axios.put('/panel/manage/location/' + this.id, {name: this.name},
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.push({name: 'location'});
          }).catch(error => {
        alert(error.response.data.message)
      })
    }
  }
}
</script>

<style scoped>
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.locationTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

.updateForm {
  margin: 10px;
}

</style>
