<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>SafarMarket-WorldCup2022</title>
    <link rel="stylesheet" type="text/css"
          href="https://safarmarket.com/data/assets/libs/materialicon/css/materialdesignicons.css?v1.85.12">
    <script src="https://safarmarket.com/data/assets/js/main.min.js?v1.85.12"></script>
    <link href="https://safarmarket.com/data/assets/css/main.min.css?v1.85.12" rel="stylesheet">
    <link rel="preload" href="data/assets/libs/materialize/material_icon/MaterialIcons-Regular.ttf" as="font"
          crossorigin="anonymous"/>
    <link rel="icon" href="https://safarmarket.com/data/sys_img/icon/favicon.ico" type="image/png" sizes="32x32">
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
