<template>
  <div class="awards">
    <div class="awardsTable">

      <div class="header">
        <h3>جایزه ها</h3>

        <div>
          <b-row class="text-md-center buttonRow">
            <b-col v-b-modal.modal-prevent-closing md="10" class="mb-10">
              <b-icon icon="plus" font-scale="2"></b-icon>
            </b-col>
          </b-row>

          <b-modal
              id="modal-prevent-closing"
              ref="modal"
              title="ایجاد جایزه جدید"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
          >
            <form ref="form" @submit.stop.prevent="handleSubmit">
              <b-form-group
                  label="عنوان:"
                  label-for="title-input"
                  invalid-feedback="Title is required"
                  :state="titleState"
              >
                <b-form-input
                    id="title-input"
                    v-model="title"
                    :state="titleState"
                    required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                  label="مقدار:"
                  label-for="amount-input"
                  :state="amountState"
              >
                <b-form-input
                    id="amount-input"
                    v-model="amount"
                    type="number"
                    :state="amountState"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                  label="کد:"
                  label-for="code-input"
                  :state="codeState"
              >
                <b-form-input
                    id="code-input"
                    v-model="code"
                    :state="codeState"
                ></b-form-input>
              </b-form-group>

            </form>
          </b-modal>
        </div>
      </div>


      <hr>
      <table>
        <tr>
          <th>شناسه</th>
          <th>عنوان</th>
          <th>مقدار</th>
          <th>کد</th>
          <th>زمان ایجاد</th>
          <th>زمان به روزرسانی</th>
          <th>عملیات</th>
        </tr>
        <tr v-for="(item , index)  in items" :key="index">
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.created_at }}</td>
          <td>{{ item.updated_at }}</td>
          <td>
            <div class="actionsForm">
              <b-icon icon="trash-fill" font-scale="1" style="cursor: pointer" @click="destroyFun(item.id)"></b-icon>
              <b-icon></b-icon>
              <b-icon icon="nut" style="cursor: pointer" font-scale="1" @click="goToUpdate(item)"></b-icon>
              <b-icon></b-icon>
              <b-icon v-b-modal.modal-1
                      icon="pencil-fill"
                      style="cursor: pointer"
                      font-scale="1"
                      @click="goToUpdateResult(item)"></b-icon>
            </div>
          </td>
        </tr>
      </table>

    </div>
    <SideBar></SideBar>
  </div>
</template>

<script>
import SideBar from '../SideBar'
import axios from "../../../axios-project";
import router from '../../../routes/routes'
// import VuePersianDatetimePicker from 'vue-persian-datetime-picker'

export default {
  components: {
    SideBar,
  },
  data() {
    return {
      items: [],
      teams: [],
      title: '',
      amount: 0,
      code: '',
      titleState: null,
      codeState: null,
      amountState: null,
      token: localStorage.getItem('userToken')
    }
  },
  beforeMount() {
    axios.get('/panel/manage/award', {
      headers: {
        'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
      }
    })
        .then(res => {
          this.items = res.data.data;
        }).catch(error => console.log(error))
  },
  methods: {
    resetModal() {
      this.name = ''
      this.titleState = null
      this.codeState = null
      this.amountState = null
    },
    handleOk(bvModalEvent) {
      // Prevent modal from closing
      bvModalEvent.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      let data = {
        'title': this.title,
        'amount': this.amount,
        'code': this.code,
      };
      axios.post('/panel/manage/award', data,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message)
            router.go()
          }).catch(error => {
        alert(error.response.data.message)
      })
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-prevent-closing')
      })
    },
    destroyFun(itemId) {
      axios.delete('/panel/manage/awards/' + itemId,
          {
            headers: {
              'Authorization': `Bearer ${this.token.replaceAll('"', '')}`
            }
          })
          .then(res => {
            alert(res.data.message);
            router.go();
          }).catch(error => console.log(error))
    },
    goToUpdate(item) {
      router.push({
        name: 'awardUpdate',
        params: {
          id: item.id,
        }
      });
    },
  }
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonRow {
  flex-direction: row-reverse;
  margin-left: 740px;
  cursor: pointer;
}

.awards {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.awardsTable {
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-left: 50px;
  border: 5px solid #ee6425;
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
}

form {
  padding: 10px;
}

.formSelect {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  direction: rtl;
}

.actionsForm {
  display: flex;
  flex-direction: row;
}

</style>
