<template>
  <div class="form">
    <b-img class="form-image" :src="image" fluid alt="logo"></b-img>
    <b-form class="main-form" @submit.prevent="onSubmit" v-if="show">
      <b-form-group class="form-detail" id="input-group-1">
        <b-form-input
            id="input-1"
            v-model="username"
            placeholder="Username"
            required
        ></b-form-input>
      </b-form-group>

      <b-form-group class="form-detail" id="input-group-2">
        <b-form-input
            id="input-2"
            type="password"
            v-model="password"
            placeholder="Password"
            required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit">Login</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from "@/axios-project";
import router from "@/routes/routes";

export default {

  data() {
    return {
      username: '',
      password: '',
      show: true,
      image: require('@/assets/images/Header/logo.png'),
      token: null
    }
  },
  methods: {
    onSubmit() {
      const formData = {
        'username': this.username,
        'password': this.password
      };
      axios.post('/panel/manage/login', formData)
          .then(res => {
            if (res.data.token) {
              localStorage.setItem('userToken', JSON.stringify(res.data.token));
              router.push({path: '/panel/dashboard'})
            }
          }).catch(error => {
        alert(error.response.data.message)
      });
    }
  }
}
</script>

<style scoped>
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-form {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ee6425;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 100px;
}

.form-detail {
  padding: 15px;
}

.form-button {
  margin-top: 15px;
}
</style>
