<template>
  <div class="appHeader">
    <div class="logo" id="logoId">
      <img class="image2" :src="image_1" alt="logo">
      <img class="image1" :src="image" alt="logo">
    </div>

    <nav class="navbarHeader">
      <div class="rightHeader">
        <p>تاریخ امروز:</p>
        <p class="number">{{ persianDate }}</p>
      </div>
      <div class="delimiter"></div>
      <div class="leftHeader">
        <p>امتیاز شما:</p>
        <p class="number">{{ point }}</p>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  props: [
    'persianDate',
    'point'
  ],
  data() {
    return {
      image: require('@/assets/images/Header/logo.png'),
      image_1: require('@/assets/images/Header/logo_1.png'),
    }
  },
}
</script>

<style scoped>
@media (max-width: 990px) {
  .appHeader {
    font-size: 13px;
    height: 8rem;
    width: 100%;
    top: 0;
    background-color: #fff;
    position: fixed;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logoId {
    justify-content: center;
    margin-top: 20px;
  }

  .image2 {
    height: 23px;
    width: 44px;
  }

  .image1 {
    height: 28px;
    width: 146px;
  }

  .navbarHeader {
    direction: rtl;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 72px;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    border-top: 3px solid #EEEEEE;
  }

  .rightHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2vh;
  }

  .leftHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2vh;
  }

  .number {
    margin-right: 10px;
  }

  .delimiter {
    background-color: #E0E0E0;
    width: 1px;
    height: 27px;
  }

}

@media (min-width: 990px) {
  .appHeader {
    position: fixed;
    font-size: 13px;
    height: 86px;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    z-index: 100;
  }

  .logo {
    position: absolute;
    left: 6vw;
    justify-content: right;
    vertical-align: center;
    margin-top: 25px;
  }

  .image2 {
    height: 23px;
    width: 44px;
  }

  .image1 {
    height: 28px;
    width: 146px;
  }

  .navbarHeader {
    position: absolute;
    width: 30%;
    right: 5%;
    top: 25px;
    direction: rtl;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
  }

  .rightHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 2vh;
  }

  .leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-top: 2vh;
    margin-right: 32px;
  }

  .number {
    margin-right: 10px;
  }

  .delimiter {
    background-color: #E0E0E0;
    width: 1px;
    height: 27px;
    margin-top: 3px;
  }
}
</style>
