<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {}
</script>

<style>
@font-face {
  font-family: "Iranian Sans";
  src: url('~@/assets/fonts/Iranian Sans.ttf');
}

</style>
