<template>
  <div class="winnersName">
    <div class="winnerTitle">
      <p>اسامی برندگان:</p>
    </div>

    <div class="customerBox">
      <div class="winnersBox" v-for="(customer , index) in winnersName" :key="index">
        <div class="winnerBoxRepeat">

          <div class="winnerNameBox">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M9.9974 0.666504C11.2351 0.666504 12.4221 1.15817 13.2972 2.03334C14.1724 2.90851 14.6641 4.09549 14.6641 5.33317C14.6641 6.57085 14.1724 7.75783 13.2972 8.633C12.4221 9.50817 11.2351 9.99984 9.9974 9.99984C8.75972 9.99984 7.57273 9.50817 6.69756 8.633C5.82239 7.75783 5.33073 6.57085 5.33073 5.33317C5.33073 4.09549 5.82239 2.90851 6.69756 2.03334C7.57273 1.15817 8.75972 0.666504 9.9974 0.666504ZM9.9974 12.3332C15.1541 12.3332 19.3307 14.4215 19.3307 16.9998V19.3332H0.664062V16.9998C0.664062 14.4215 4.84073 12.3332 9.9974 12.3332Z"
                  fill="#FD6A16"/>
            </svg>

            <p><b>{{ customer.customer }}</b></p>

          </div>
          <div class="dividerForWinnerBox"></div>


          <div class="awardBox">

            <p>برنده {{ customer.award }}</p>

            <div class="dividerBox"></div>

            <p>بازی: {{ customer.game }}</p>

          </div>

        </div>

      </div>
    </div>

    <div class="dividerForSuperStarts"></div>

    <app-winners-field :topTens="topTens" :number_of_customers="number_of_customers"></app-winners-field>

  </div>
</template>

<script>
import AppWinnersField from './WinnersField'
import axios from "@/axios-project";

export default {
  props: [
    'winnersDay'
  ],
  data() {
    return {
      winnersName: [],
      topTens: [],
      number_of_customers: 0,
    }
  },
  components: {
    AppWinnersField
  },
  mounted() {
    axios.get('/api/world_cup/winners')
        .then(res => {
          this.topTens = res.data.all;
          this.number_of_customers = res.data.number_of_customers
        })
        .catch(error => console.log(error))
  },
  watch: {
    winnersDay: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.winnersName = newValue;
      },
    }
  },
}
</script>

<style scoped>
@media (max-width: 990px) {
  .winnersName {
    background-color: white;
    border-radius: 10px;
    margin: 15px 5vw 5vw 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .winnerTitle {
    position: absolute;
    margin-top: 20px;
    direction: rtl;
    right: 9vw;
  }

  .winnerTitle p {
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .customerBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    padding: 0 3rem 0 3rem;
    margin-top: 10vh;
  }

  .winnerBoxRepeat {
    display: flex;
    flex-direction: column;
    gap: -2rem;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
  }

  .winnersBox {
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 93%;
    height: 15vh;
    align-items: center;
  }

  .winnerNameBox {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 8vh;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
  }

  .winnerNameBox svg {
    margin: 5px 27px 0 10px;
  }

  .winnerNameBox p {
    margin-top: 17px;
  }

  .dividerForWinnerBox {
    width: inherit;
    height: 2px;
    background-color: #EEEEEE;
    position: absolute;
    margin-top: 8vh;
  }

  .awardBox {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 95%;
    height: 45%;
    right: 2vw;
    padding: 5px;
    text-align: center;
  }

  .awardBox p {
    width: 100%;
    font-size: 12px;
  }

  .dividerBox {
    width: 2px;
    height: 3vh;
    background-color: #EEEEEE;
    margin-right: 15px;
    margin-left: 15px;
  }

  .dividerForSuperStarts {
    width: 94%;
    height: 2px;
    background-color: #EEEEEE;
    margin-top: 40px;
  }
}

@media (min-width: 990px) {
  .winnersName {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 50px 96px 30px 96px;
    min-height: 40rem;
  }

  .customerBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
    padding: 0 3rem 0 3rem;
    margin-top: 7%;
  }

  .winnersBox {
    direction: rtl;
    width: 49%;
  }

  .winnerBoxRepeat {
    display: flex;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    flex-direction: row;
    width: 100%;
  }

  .winnerTitle {
    position: absolute;
    margin-top: 40px;
    margin-right: 2.5%;
    direction: rtl;
  }

  .winnerTitle p {
    font-weight: bold;
    padding: 0 20px 0 20px;
    white-space: nowrap;
  }

  .dividerForWinnerBox {
    width: 1px;
    top: 0;
    background-color: #EEEEEE;
    margin-right: 10%;
  }

  .winnerNameBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    align-items: flex-start;
    width: 25%;
  }

  .winnerNameBox p {
    white-space: nowrap;
  }

  .winnerNameBox svg {
    margin: 0 0 0 10px;
  }

  .awardBox {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0 10px;
    width: 60%;
  }

  .dividerBox {
    width: 2px;
    height: 32px;
    background-color: #EEEEEE;
    margin: 0 30px 0 30px;
  }

  .dividerForSuperStarts {
    width: 91%;
    height: 2px;
    background-color: #EEEEEE;
    margin-top: 4rem;
    margin-right: 3vw;
  }
}


</style>
