<template>
  <div class="field">
    <div class="fieldTitle">
      <p>فوق ستارگان:</p>
    </div>
    <div class="numberOfCompetitors">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7.25 5.75098H8.75V4.25098H7.25V5.75098ZM8 14.001C4.6925 14.001 2 11.3085 2 8.00098C2 4.69348 4.6925 2.00098 8 2.00098C11.3075 2.00098 14 4.69348 14 8.00098C14 11.3085 11.3075 14.001 8 14.001ZM8 0.500977C7.01509 0.500977 6.03982 0.69497 5.12987 1.07188C4.21993 1.44879 3.39314 2.00124 2.6967 2.69768C1.29018 4.1042 0.5 6.01185 0.5 8.00098C0.5 9.9901 1.29018 11.8978 2.6967 13.3043C3.39314 14.0007 4.21993 14.5532 5.12987 14.9301C6.03982 15.307 7.01509 15.501 8 15.501C9.98912 15.501 11.8968 14.7108 13.3033 13.3043C14.7098 11.8978 15.5 9.9901 15.5 8.00098C15.5 7.01606 15.306 6.04079 14.9291 5.13085C14.5522 4.22091 13.9997 3.39412 13.3033 2.69768C12.6069 2.00124 11.7801 1.44879 10.8701 1.07188C9.96019 0.69497 8.98491 0.500977 8 0.500977ZM7.25 11.751H8.75V7.25098H7.25V11.751Z"
            fill="#2981EC"/>
      </svg>

      <p><b>تعداد شرکت کنندگان: {{ number_of_customers }} نفر</b></p>
    </div>


    <div class="tableNames">
      <div v-for="(topTen , index) in topTens" :key="index">
        <div class="grid">
          <div class="numberForList">{{ index + 1 }}</div>
          <p>{{ topTen.full_name }}:</p>
          <p><b>{{ topTen.point }} امتیاز</b></p>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: [
    'topTens',
    'number_of_customers'
  ]
}
</script>

<style scoped>
@media (max-width: 990px) {
  .field {
    width: 100%;
    height: 100%;
    top: 28vh;
    direction: rtl;
  }

  .fieldTitle {
    font-weight: bold;
    margin-top: 20px;
    margin-right: 5vw;
  }

  .numberOfCompetitors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 6vh;
    margin-right: 16px;
    margin-top: 0;
    background-color: rgba(41, 129, 236, 0.1);
    border-radius: 5px;
  }

  .numberOfCompetitors svg {
    padding: 0;
    text-align: center;
  }

  .numberOfCompetitors p {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 12px;
    color: #2981EC;
  }

  .showNameInField {
    display: none;
  }

  .fieldPic {
    display: none;
  }

  .tableNames {
    margin-top: 25px;
    margin-right: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    direction: rtl;
  }

  .grid {
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .grid p {
    margin-right: 5px;
    font-size: 12px;
  }

  .numberForList {
    border: 1px solid #2981EC;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #2981EC;
    padding-top: 3px;
    font-size: 10px;
  }
}

@media (min-width: 990px) {
  .field {
    position: relative;
    width: 100%;
    height: 100%;
    top: 5vh;
  }

  .fieldTitle {
    position: absolute;
    top: 1vh;
    right: 3.5vw;
    font-weight: bold;
  }

  .numberOfCompetitors {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    padding: 2px 3px;
    background-color: rgba(41, 129, 236, 0.1);
    border-radius: 5px;
    left: 5vw;
  }

  .numberOfCompetitors p {
    margin-top: 15px;
    margin-right: 5px;
    font-size: 10px;
    color: #2981EC;
  }

  .tableNames {
    margin-top: 8em;
    margin-right: 4em;
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    direction: rtl;
  }

  .grid {
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .grid p {
    margin-right: 5px;
    font-size: 12px;
  }

  .numberForList {
    border: 1px solid #2981EC;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #2981EC;
    padding-top: 3px;
    font-size: 10px;
  }
}
</style>
