<template>
  <div class="gamesHeader">
    <div class="holder"></div>
    <strong>نتایج</strong>
    <div class="holder"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style scoped>
@media (max-width: 990px) {
  .gamesHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 94px;
  }

  .gamesHeader strong {
    margin-right: 16px;
    margin-left: 16px;
    font-size: 18px;
  }

  .holder {
    width: 3px;
    height: 24px;
    background-color: #FF690F;
  }
}

@media (min-width: 990px) {
  .gamesHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 168px;
  }

  .gamesHeader strong {
    margin-right: 24px;
    margin-left: 24px;
    font-size: 25px;
  }

  .holder {
    width: 3px;
    height: 32px;
    background-color: #FF690F;
  }

}

</style>
