<template>

  <div class="sliderDate rtl sliderShow">

    <button type="button" class="rightScrollBtn" @click="scroll_right">
      <b-icon icon="chevron-right"></b-icon>
    </button>

    <div class="col m-3 calendar">
      <div class="row scrollsTitle">
        <div class="col s2 CardsTitle" :class="{active: clicked(index)}" data-val="23" v-for="(day , index) in days"
             :key="index"
             @click="sendDate(index)"
        >
          <span>{{ day }}</span>
        </div>
      </div>
    </div>

    <button type="button" class="leftScrollBtn" @click="scroll_left">
      <b-icon icon="chevron-left"></b-icon>
    </button>

  </div>

</template>
<script>
import axios from "@/axios-project";

export default {
  data() {
    return {
      days: {
        // '2022-11-20': '۲۹ آبان', '2022-11-21': '۳۰ آبان',
        // '2022-11-22': '۱ آذر', '2022-11-23': '۲ آذر',
        // '2022-11-24': '۳ آذر', '2022-11-25': '۴ آذر',
        // '2022-11-26': '۵ آذر', '2022-11-27': '۶ آذر',
        // '2022-11-28': '۷ آذر', '2022-11-29': '۸ آذر',
        '2022-11-30': '۹ آذر', '2022-12-01': '۱۰ آذر',
        '2022-12-02': '۱۱ آذر', '2022-12-03': '۱۲ آذر',
        '2022-12-04': '۱۳ آذر', '2022-12-05': '۱۴ آذر',
        '2022-12-06': '۱۵ آذر', '2022-12-07': '۱۶ آذر',
        '2022-12-08': '۱۷ آذر', '2022-12-09': '۱۸ آذر',
        '2022-12-10': '۱۹ آذر', '2022-12-11': '۲۰ آذر',
        '2022-12-12': '۲۱ آذر', '2022-12-13': '۲۲ آذر',
        '2022-12-14': '۲۳ آذر', '2022-12-15': '۲۴ آذر',
        '2022-12-16': '۲۵ آذر', '2022-12-17': '۲۶ آذر',
      },
      winnersData: null,
      clickedIndex: 0,
    }
  },
  methods: {
    scroll_left() {
      let content = document.querySelector(".calendar");
      content.scrollLeft -= 290;
    },
    scroll_right() {
      let content = document.querySelector(".calendar");
      content.scrollLeft += 290;
    },
    async sendDate(day) {
      this.clickedIndex = day;
      await axios.get('/api/world_cup/winners?date=' + day)
          .then(res => {
            this.winnersData = res.data.dayWinner;
          }).catch(error => console.log(error))

      this.$emit('sendingDate', this.winnersData)
    },
    clicked(index) {
      if (index === this.clickedIndex) {
        return 'active';
      }

      return false;
    }
  }
}
</script>

<style scoped>
.sliderDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calendar {
  background: white;
  border-radius: 6px;
  overflow-x: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.calendar::-webkit-scrollbar {
  display: none;
}

.scrollsTitle {
  width: 180rem;
  height: 19%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.scrollsTitle div {
  cursor: pointer;
  border-left: 1px solid #eeeeee;
  display: inline-block;
  height: 5rem;
}

.scrollsTitle div:last-of-type {
  border-left: none;
}

.scrollsTitle .active {
  color: #FA5E14;
  border-bottom: 4px solid #fa5e14;
  /*height: 100%;*/
  /*padding-bottom: 20px;*/
}

.scrollsTitle div:hover {
  color: #FA5E14;
  /*padding-bottom: 20px;*/
}

.CardsTitle {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  padding: 0 15px;
}

.CardsTitle span {
  text-align: center;
  height: 100%;
  padding-bottom: 20px;
}

.leftScrollBtn {
  width: 45px;
  height: 45px;
  /*position: absolute;*/
  z-index: 2;
  cursor: pointer;
  padding: 7px;
  border-radius: 20px !important;
  background: #fff;
  border: none;
  filter: drop-shadow(4px 3px 9px rgba(0, 0, 0, 0.10));
  color: rgb(252, 102, 18);
}

.rightScrollBtn {
  width: 45px;
  height: 45px;
  /*position: absolute;*/
  z-index: 2;
  cursor: pointer;
  padding: 7px;
  border-radius: 20px !important;
  background: #fff;
  border: none;
  filter: drop-shadow(4px 3px 9px rgba(0, 0, 0, 0.10));
  color: rgb(252, 102, 18);
}

@media (max-width: 990px) {
  .scrollsTitle {
    width: 98em;
    /*height: 50%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    overflow-y: hidden;
  }

  .scrollsTitle div {
    cursor: pointer;
    border-left: 1px solid #eeeeee;
    display: inline-block;
    height: 4.5rem;
    padding: 25px 5px;
  }

  .scrollsTitle .active {
    color: #FA5E14;
    border-bottom: 4px solid #fa5e14;
    /*height: 100%;*/
    /*padding-bottom: 20px;*/
  }


  .leftScrollBtn {
    width: 32px;
    height: 32px;
    margin-top: 2px;
    margin-left: 18px;
    padding: 3px;
    left: 3px;
  }

  .rightScrollBtn {
    width: 32px;
    height: 32px;
    margin-top: 2px;
    margin-right: 18px;
    padding: 3px;
    right: 3px;
  }
}

@media (min-width: 990px) {
  .scrollsTitle div {
    padding: 30px 15px;
  }

  .leftScrollBtn {
    width: 32px;
    height: 32px;
    /*margin-left: 16.5%;*/
    padding: 3px;
    /*left: 3px;*/
  }

  .rightScrollBtn {
    width: 32px;
    height: 32px;
    /*margin-right: 16.5%;*/
    padding: 3px;
    /*right: 3px;*/
  }
}
</style>
