<template>
  <div class="slider">
    <div class="sliderBody">
      <app-calendar @sendingDate="getDate"></app-calendar>
    </div>
  </div>
</template>

<script>
import AppCalendar from './WinnersCalendar'

export default {
  components: {
    AppCalendar
  },
  data() {
    return {
      winnersData: [],
    }
  },
  methods: {
    getDate(event) {
      this.winnersDate = event;
      this.$emit('sendWinners', this.winnersDate)
    }
  }
}
</script>

<style scoped>
@media (max-width: 990px) {
  .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    height: min-content;
  }

  .sliderBody {
    width: 100%;
    height: 11vh;
    margin: 0;
  }
}

@media (min-width: 990px) {
  .slider {
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 48px;
    height: inherit;
  }

  .sliderBody {
    width: 70vw;
    border-radius: 8px;
    margin: auto;
  }

}
</style>
