<template>
  <div class="mainPic">
    <img class="mobilePic" src="../../../assets/images/Body/newMobileMain.jpg">
    <img class="DescPic" src="../../../assets/images/Body/Games/img.jpg">
  </div>
</template>

<script>
export default {
  data() {
    return {
      image: require('@/assets/images/Body/Games/img.jpg')
    }
  }
}
</script>

<style scoped>
@media (max-width: 990px) {
  .mainPic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .DescPic {
    display: none;
  }

  .mainPic img {
    width: 93%;
    height: 20%;
    margin-top: 142px;
    border-radius: 8px;
  }

}

@media (min-width: 990px) {
  .mainPic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobilePic {
    display: none;
  }

  .mainPic img {
    width: 87%;
    height: 20%;
    margin-top: 120px;
    border-radius: 8px;
  }
}
</style>
