<template>
  <div class="baseModal">
    <div v-if="open" class="backdrop" @click="$emit('close')"></div>
    <transition name="modal" v-on-click-outside="onClickOutside">
      <dialog open v-if="open">
        <slot>
          <p>برای شرکت در پیش‌بینی٬ ابتدا نام و شماره تلفن خود را وارد کنید.</p>
          <form>
            <input type="text" v-model="fullName" placeholder="نام و نام خانوادگی">
            <input type="tel" v-model="mobile" placeholder="شماره تلفن">

            <button type="submit" @click="sendData">تایید</button>
          </form>
        </slot>
      </dialog>
    </transition>
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside'

export default {
  props: ['open', 'index', 'userMobile', 'userFullName'],
  emits: ['close'],
  directives: {
    onClickOutside: vClickOutside.directive
  },
  data() {
    return {
      mobile: '',
      fullName: '',
    }
  },
  methods: {
    sendData(event) {
      event.preventDefault();
      let data = {
        'mobile': this.mobile,
        'fullName': this.fullName,
        'index': this.index,
      };
      this.$emit('sendCustomerDate', data)

      this.mobile = "";
      this.fullName = "";
    },
    onClickOutside(event) {
      this.$emit('closeModal', event)
    }
  },
  watch: {
    userMobile: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.mobile = newValue;
      },
    },
    userFullName: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.fullName = newValue;
      },
    }
  },
};
</script>

<style scoped>
@media (max-width: 990px) {

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    width: 93vw;
    right: 3.6vw;
    margin: 0;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    z-index: 100;
    border: none;
    /* animation: modal 0.3s ease-out forwards; */
  }

  p {
    direction: rtl;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-left: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    direction: rtl;
  }

  form input {
    width: 75vw;
    min-height: 5vh;
    margin-top: 16px;
    border: 2px solid #EEEEEE;
    padding-right: 1rem;
    border-radius: 7px;
  }

  form input::placeholder {
    opacity: .5;
    font-size: 0.8rem;
  }

  form button {
    background-color: #FD6A16;
    border: none;
    width: 10em;
    min-height: 2.7rem;
    margin-top: 2.5rem;
    border-radius: 7px;
    color: white;
  }

  .modal-enter-active {
    animation: modal 0.3s ease-out;
  }

  .modal-leave-active {
    animation: modal 0.3s ease-in reverse;
  }

  @keyframes modal {
    from {
      opacity: 0;
      transform: translateY(-50px) scale(0.9);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

@media (min-width: 990px) {

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    width: 50vw;
    height: 30%;
    right: 3.6vw;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    z-index: 100;
    border: none;
    /* animation: modal 0.3s ease-out forwards; */
  }

  p {
    direction: rtl;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-left: 5px;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: inherit;
    direction: rtl;
    padding: 20px;
  }

  form input {
    width: 20vw;
    min-height: 5vh;
    margin-top: 16px;
    margin-right: 10px;
    border: 2px solid #EEEEEE;
    border-radius: 7px;
    padding: .6em 1em;
  }

  form input::placeholder {
    opacity: .5;
    font-size: 0.8rem;
  }

  form button {
    position: absolute;
    background-color: #FD6A16;
    border: none;
    width: 10em;
    min-height: 2.7rem;
    top: 11rem;
    border-radius: 7px;
    color: white;
  }

  .modal-enter-active {
    animation: modal 0.3s ease-out;
  }

  .modal-leave-active {
    animation: modal 0.3s ease-in reverse;
  }

  @keyframes modal {
    from {
      opacity: 0;
      transform: translateY(-50px) scale(0.9);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}
</style>
