<template>
  <div class="mainGames">
    <div class="games" v-for="(game,index) in games" :key="index">
      <img class="desktopBackGround" src="../../../../assets/images/Body/Games/img_1.png" alt="">

      <div class="picBack">
        <img class="backGround" src="../../../../assets/images/Body/Games/Subtract.png" alt="">
        <div class="showGame"
             :style="gameIds[game.game_id] === true ? {visibility: 'hidden'} : {visibility: 'visible'}">

          <div class="flags">
            <div class="host_team">
              <img :style="game.hide ? {opacity:0.4}: {}" :src="game.host_team_flag" alt="">
              <div class="label-host"
                   @click="selectPredict('host_win', game.game_id, index, game.host_team_id)"
                   :style="(predict === 'host_win' && index + 1  === selected) ? {borderColor: '#FD6A16' , color: '#FD6A16' } : ''">
                <p :style="game.hide ? {opacity:0.4}: {}"><b>برد {{ game.host_team_name }}</b></p>
              </div>
            </div>

            <div class="draw_team">
              <img :style="game.hide ? {opacity:0.4}: {}" :src="draw_image" alt="">
              <div class="label-draw"
                   @click="selectPredict('draw', game.game_id, index, null)"
                   :style="(predict === 'draw' && index + 1  === selected) ? {borderColor: '#FD6A16' , color: '#FD6A16'} : ''"

              >
                <p :style="game.hide ? {opacity:0.4}: {}"><b>مساوی</b></p>
              </div>
            </div>

            <div class="guest_team">
              <img :style="game.hide ? {opacity:0.4}: {}" :src="game.guest_team_flag" alt="">
              <div class="label-guest"
                   @click="selectPredict('guest_win', game.game_id, index, game.guest_team_id)"
                   :style="(predict === 'guest_win' && index + 1  === selected) ? {borderColor: '#FD6A16' , color: '#FD6A16'} : ''">
                <p :style="game.hide ? {opacity:0.4}: {}"><b>برد {{ game.guest_team_name }}</b></p>
              </div>
            </div>
            <div class="separator"
                 :style="gameIds[game.game_id] === true ? {visibility: 'hidden'} : {visibility: 'visible'}"></div>
          </div>


          <!--          Percentage Section        -->

          <div class="circles"
               :style="gameIds[game.game_id] === true ? {visibility: 'visible'} : {visibility: 'hidden'}">
            <div class="flex-wrapper">
              <div class="single-chart">
                <svg viewBox="0 0 46 46" class="circular-chart blue">
                  <path class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        :stroke-dasharray="[predictions[game.game_id] ? predictions[game.game_id].host_win : 0, 100]"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">
                    %{{ predictions[game.game_id] ? predictions[game.game_id].host_win : 0 }}
                  </text>
                </svg>
              </div>

              <div class="single-chart">
                <svg viewBox="0 0 46 46" class="circular-chart blue">
                  <path class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        :stroke-dasharray="[predictions[game.game_id] ? predictions[game.game_id].draw : 0, 100]"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">
                    %{{ predictions[game.game_id] ? predictions[game.game_id].draw : 0 }}
                  </text>
                </svg>
              </div>

              <div class="single-chart">
                <svg viewBox="0 0 46 46" class="circular-chart blue">
                  <path class="circle-bg"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <path class="circle"
                        :stroke-dasharray="[predictions[game.game_id] ? predictions[game.game_id].guest_win : 0, 100]"
                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                  />
                  <text x="18" y="20.35" class="percentage">
                    %{{ predictions[game.game_id] ? predictions[game.game_id].guest_win : 0 }}
                  </text>
                </svg>
              </div>
            </div>

            <div class="showGamePercentage">
              <div class="host_team_percentage">
                <div class="label-host-percentage">
                  <p><b>برد {{ game.host_team_name }}</b></p>
                </div>
              </div>

              <div class="draw_team_percentage">
                <div class="label-draw-percentage">
                  <p><b>مساوی</b></p>
                </div>
              </div>

              <div class="guest_team_percentage">
                <div class="label-guest-percentage">
                  <p><b>برد {{ game.guest_team_name }}</b></p>
                </div>
              </div>
            </div>

          </div>


        </div>


        <div class="lineBreaker"
             :style="gameIds[game.game_id] === false ? {visibility: 'visible'} : {visibility: 'hidden'}"></div>


        <div class="buttonSection">

          <div class="otherPredict"
               :style="gameIds[game.game_id] === true ? {visibility: 'hidden'} : {visibility: 'visible'}">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M5 14C5.28333 14 5.521 13.904 5.713 13.712C5.90433 13.5207 6 13.2833 6 13V8C6 7.71667 5.90433 7.479 5.713 7.287C5.521 7.09567 5.28333 7 5 7C4.71667 7 4.479 7.09567 4.287 7.287C4.09567 7.479 4 7.71667 4 8V13C4 13.2833 4.09567 13.5207 4.287 13.712C4.479 13.904 4.71667 14 5 14ZM9 14C9.28333 14 9.521 13.904 9.713 13.712C9.90433 13.5207 10 13.2833 10 13V5C10 4.71667 9.90433 4.479 9.713 4.287C9.521 4.09567 9.28333 4 9 4C8.71667 4 8.47933 4.09567 8.288 4.287C8.096 4.479 8 4.71667 8 5V13C8 13.2833 8.096 13.5207 8.288 13.712C8.47933 13.904 8.71667 14 9 14ZM13 14C13.2833 14 13.5207 13.904 13.712 13.712C13.904 13.5207 14 13.2833 14 13V11C14 10.7167 13.904 10.479 13.712 10.287C13.5207 10.0957 13.2833 10 13 10C12.7167 10 12.4793 10.0957 12.288 10.287C12.096 10.479 12 10.7167 12 11V13C12 13.2833 12.096 13.5207 12.288 13.712C12.4793 13.904 12.7167 14 13 14ZM2 18C1.45 18 0.979 17.8043 0.587 17.413C0.195667 17.021 0 16.55 0 16V2C0 1.45 0.195667 0.979 0.587 0.587C0.979 0.195667 1.45 0 2 0H16C16.55 0 17.021 0.195667 17.413 0.587C17.8043 0.979 18 1.45 18 2V16C18 16.55 17.8043 17.021 17.413 17.413C17.021 17.8043 16.55 18 16 18H2ZM2 16H16V2H2V16ZM2 16V2V16Z"
                  fill="#2981EC"/>
            </svg>
            <a @click="gameIds[game.game_id] = true">سایر نظرات</a>

          </div>


          <div class="predictButton"
               v-show="(!checkStoreIndex(index) && !dialogIsVisible)"
               v-if="(game && !game.hide)"
               :style="gameIds[game.game_id] === true ? {visibility: 'hidden'} : {visibility: 'visible'}"
          >
            <p @click="showDialog(game.game_id , index)">ثبت پیش‌بینی</p>
          </div>

          <div class="backToPredictButton"
               v-if="game && !game.hide"
               :style="gameIds[game.game_id] === false ? {visibility: 'hidden'} : {visibility: 'visible'}">

            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M6.41732 13.0833C6.26454 12.9306 6.18454 12.7361 6.17732 12.5C6.17065 12.2639 6.24371 12.0694 6.39648 11.9167L10.4798 7.83333H1.16732C0.931207 7.83333 0.733151 7.75333 0.573151 7.59333C0.413707 7.43389 0.333984 7.23611 0.333984 7C0.333984 6.76389 0.413707 6.56583 0.573151 6.40583C0.733151 6.24639 0.931207 6.16667 1.16732 6.16667H10.4798L6.39648 2.08333C6.24371 1.93056 6.17065 1.73611 6.17732 1.5C6.18454 1.26389 6.26454 1.06944 6.41732 0.916666C6.5701 0.763889 6.76454 0.6875 7.00065 0.6875C7.23676 0.6875 7.43121 0.763889 7.58398 0.916666L13.084 6.41667C13.1673 6.48611 13.2265 6.57278 13.2615 6.67667C13.2959 6.78111 13.3132 6.88889 13.3132 7C13.3132 7.11111 13.2959 7.21528 13.2615 7.3125C13.2265 7.40972 13.1673 7.5 13.084 7.58333L7.58398 13.0833C7.43121 13.2361 7.23676 13.3125 7.00065 13.3125C6.76454 13.3125 6.5701 13.2361 6.41732 13.0833Z"
                  fill="#FD6A16"/>
            </svg>

            <p @click="gameIds[game.game_id] = false"> بازگشت به پیش‌بینی</p>

          </div>

          <base-modal @close="hideDialog"
                      :open="dialogIsVisible"
                      :index="currentIndex"
                      :userMobile="userMobile"
                      :userFullName="userFullName"
                      @sendCustomerDate="sendRequest"
                      @closeModal="hideDialog"
          ></base-modal>

          <div class="predictOver" v-if="game && game.hide">
            <p>زمان پیش بینی به پایان رسیده است</p>
          </div>

          <div class="predictStored"
               v-if="(checkStoreIndex(index) && store === true)"
               :style="gameIds[game.game_id] === false ? {visibility: 'visible'} : {visibility: 'hidden'}"
          >
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M7.00065 0.333252C3.33398 0.333252 0.333984 3.33325 0.333984 6.99992C0.333984 10.6666 3.33398 13.6666 7.00065 13.6666C10.6673 13.6666 13.6673 10.6666 13.6673 6.99992C13.6673 3.33325 10.6673 0.333252 7.00065 0.333252ZM7.00065 12.3333C4.06065 12.3333 1.66732 9.93992 1.66732 6.99992C1.66732 4.05992 4.06065 1.66659 7.00065 1.66659C9.94065 1.66659 12.334 4.05992 12.334 6.99992C12.334 9.93992 9.94065 12.3333 7.00065 12.3333ZM10.0607 4.05325L5.66732 8.44658L3.94065 6.72658L3.00065 7.66658L5.66732 10.3333L11.0007 4.99992L10.0607 4.05325Z"
                  fill="#08A835"/>
            </svg>

            <p>پیش‌بینی شما با موفقیت ثبت شد</p>
          </div>

        </div>

        <div class="leftHand">
          <div class="leftHandHeader">
            <p>{{ game.host_team_name }} - {{ game.guest_team_name }} </p>
            <span>{{ game.start_at_jalali }}</span>
          </div>

          <div class="award">
            <p>جایزه قرعه کشی:</p>
            <p>{{ game.award }}</p>
          </div>

          <div class="headerSeparator"></div>

          <div class="timerLabel">
            <p>مهلت شرکت:</p>
          </div>
          <div class="timer">
            <table>
              <tr>
                <th>{{ !game.hide ? timerSecondCount : 0 }}</th>
                <th>{{ !game.hide ? game.diff_minutes : 0 }}</th>
                <th>{{ !game.hide ? game.diff_hours : 0 }}</th>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>

</template>

<script>
import axios from "@/axios-project";
import BaseModal from "./BaseModal"

export default {
  components: {
    BaseModal
  },
  data() {
    return {
      host_image: '',
      guest_image: '',
      draw_image: require('@/assets/images/Body/Games/ball.png'),
      timerSecondCount: 60,
      timerMinuteCount: 0,
      games: [],
      today: 0,
      predictions: [],
      store: false,
      storeIndex: [],
      myModal: false,
      animatedBlock: false,
      dialogIsVisible: false,
      paraIsVisible: false,
      gameId: 0,
      predict: '',
      selected: 0,
      team_winner_id: 0,
      gameIds: [],
      currentIndex: 20,
      userMobile: null,
      userFullName: null,
    }
  },
  watch: {
    timerSecondCount: {
      handler(value) {

        if (value > 0) {
          setTimeout(() => {
            this.timerSecondCount--;
            if (this.timerSecondCount === 0) {
              this.timerSecondCount = 60;
              this.timerMinuteCount--;
              if (this.timerMinuteCount === 0) {
                this.timerMinuteCount = 59;
                this.timerHourCount--;
              }
            }
          }, 1000);
        }

      },
      immediate: true // This ensures the watcher is triggered upon creation
    }

  },
  mounted() {
    axios.get('/api/world_cup/games')
        .then(res => {
          if (res.data.games) {
            this.getReady(res.data);
          }
        }).catch(error => console.log(error))
  },
  methods: {
    getReady(data) {
      this.games = data.games;
      this.today = data.today;
      this.predictions = data.predictions;

      this.games.forEach((game) => {
        this.gameIds[game.game_id] = false;
        if (game.game_over === true) {
          game.hide = true;
        }
      });
      this.$emit('sendPersianDate', data.today)

    },
    showDialog(id, index) {
      if (!this.gameId || this.gameId !== id) {
        alert('لطفا یک نتیجه از این مسابقه را انتخاب کنید');
        return;
      }
      this.currentIndex = index;
      this.dialogIsVisible = true;
    },
    hideDialog() {
      this.dialogIsVisible = false;
    },
    sendRequest(event) {
      this.userMobile = event.mobile;
      this.userFullName = event.fullName;
      let formData = {
        'mobile': event.mobile,
        'full_name': event.fullName,
        'game_id': this.gameId,
        'predict': this.predict,
        'team_winner_id': this.team_winner_id
      };

      axios.post('/api/world_cup/predict', formData)
          .then(res => {
            if (res.data.success === true) {
              this.selected = 0;
              this.predict = '';
              this.store = true;
              this.$emit('sendPoint', res.data.point);
              this.storeIndex.push(event.index + 1);
              alert(res.data.message);
              this.hideDialog();
            } else {
              alert(res.data.message)
            }
          }).catch(error => {
        alert(error.response.data.message)
      });
    },
    selectPredict(predict, gameId, index, teamWinnerId) {
      this.predict = predict;
      this.gameId = gameId;
      this.selected = index + 1;
      this.team_winner_id = teamWinnerId;
    },
    checkStoreIndex(index) {
      return this.storeIndex.includes(index + 1);
    }
  }
}
</script>

<style scoped>
@media (max-width: 990px) {
  .mainGames {
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .games {
    position: relative;
    width: 100vw;
    height: 25rem;
    margin-bottom: 10px;
  }

  .desktopBackGround {
    display: none;
  }

  .backGround {
    position: absolute;
    width: 92%;
    height: 100%;
    top: 2rem;
    z-index: 1;
  }

  .picBack {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .showGame {
    position: absolute;
    width: 90%;
    height: 20%;
    left: 7%;
    top: 16rem;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .host_team {
    position: absolute;
    left: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .draw_team {
    position: absolute;
    left: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .guest_team {
    position: absolute;
    left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .showGame img {
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
  }

  .lineBreaker {
    position: absolute;
    width: 82%;
    height: 1px;
    top: 87%;
    left: 8%;
    z-index: 2;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
  }

  .label p {
    margin-top: 15px;
    width: 20vw;
    height: 2vh;
  }

  .label-host {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-host p {
    margin-top: 3px;
    padding: 2px;
  }


  .label-draw {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    z-index: 5;
    margin-top: -10px;
  }

  .label-draw p {
    margin-top: 3px;
    padding: 2px;
  }

  .label-guest {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-guest p {
    margin-top: 3px;
    padding: 2px;
  }

  .separator {
    width: 70vw;
    height: 1px;
    position: absolute;
    top: 3.3rem;
    left: 3rem;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    z-index: 1;
  }

  .otherPredict {
    position: absolute;
    right: 11%;
    top: 23.7rem;
    z-index: 3;
    font-size: 0.8rem;
    color: #2981EC;
    user-select: none;
  }

  .otherPredict a {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
  }

  .predictButton {
    position: absolute;
    width: 45%;
    height: 11%;
    background-color: #FD6A16;
    top: 92%;
    left: 8%;
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 3;
  }

  .predictButton p {
    margin-top: 8px;
  }

  .backToPredictButton {
    position: absolute;
    background-color: rgba(253, 106, 22, .1);
    top: 92%;
    left: 10%;
    border-radius: 5px;
    color: #FD6A16;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    padding: .1vh 2vw;
  }

  .backToPredictButton p {
    margin-top: 12px;
    margin-left: 10px;
  }

  .backToPredictButton svg {
    margin-top: 15px;
    margin-left: 8px;
  }

  .predictOver {
    position: absolute;
    bottom: -2vh;
    left: 10vw;
    color: red;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    font-size: 0.7rem;
  }

  .predictStored {
    position: absolute;
    bottom: -2vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: green;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    width: 55%;
    font-size: 0.8rem;
  }

  .predictStored svg {
    margin-left: 2px;
    margin-top: 3px;
  }

  .leftHand {
    position: absolute;
    width: 85%;
    height: 52%;
    top: 2rem;
    z-index: 2;
    border-bottom: 2px dashed #EEEEEE;
  }

  .leftHandHeader {
    display: flex;
    flex-direction: row;
    direction: rtl;
  }

  .leftHandHeader p {
    position: absolute;
    top: 3vh;
    right: 4vw;
    font-weight: bold;
    font-size: 1rem;
  }

  .leftHandHeader span {
    position: absolute;
    font-size: .8rem;
    top: 3.5vh;
    left: 6vw;
  }

  .award {
    color: #FD6A16;
    width: 100%;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .award p {
    padding-right: 5px;
  }

  .headerSeparator {
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #EEEEEE;
    top: 11vh;
    left: 5%;
  }

  .timerLabel {
    position: absolute;
    direction: rtl;
    top: 12vh;
    right: 3vw;
    font-size: 12px;
  }

  .timer {
    width: 90%;
    height: fit-content;
    position: absolute;
    top: 64%;
    left: 1%;
    direction: rtl;
  }

  .timer table {
    width: 90%;
    height: 40%;
    border-collapse: collapse;
    border-radius: 7px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #EEEEEE; /* this draws the table border  */
  }

  .timer th {
    border: 1px solid #EEEEEE;
    width: 8rem;
    height: 3rem;
    text-align: center;
  }

  .circles {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    z-index: 3;
  }

  .flex-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 8vw;
    margin-top: 1vh;
  }

  .single-chart {
    width: 100%;
    height: 12vh;
    justify-content: space-around;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  .circles svg {
    background-color: white !important;
  }

  .circular-chart {
    display: flex;
    width: fit-content;
    height: 12vh;
    justify-content: center;
    align-items: center;
  }

  .circular-chart path {
    margin: .1rem 0 10rem 0;
    width: 100vw;
    height: 36vh;
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4;
    width: inherit;
    height: inherit;
  }

  .circle {
    fill: none;
    stroke-width: .2rem;
    stroke-linecap: round;
    width: inherit;
    height: inherit;
    animation: progress 1s ease-out forwards;
  }

  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }


  .showGamePercentage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 3;
    flex-direction: row;
  }

  .host_team_percentage {
    margin-right: 10vw;
  }

  .draw_team_percentage {
    margin-right: 7vw;
  }

  .guest_team_percentage {
    margin-right: 7vw;
  }

  .label-guest-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-draw-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-host-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 20vw;
    height: 4vh;
    font-size: 13px;
    margin-top: -10px;
    z-index: 5;
  }


}

@media (min-width: 990px) {
  .mainGames {
    margin-top: 50px;
  }

  .games {
    width: 95%;
    height: initial;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    margin-right: 2.5%;
    margin-bottom: 1%;
  }

  .backGround {
    display: none;
  }

  .desktopBackGround {
    position: relative;
    width: 92%;
    height: initial;
    z-index: 1;
  }

  .picBack {
    position: absolute;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .showGame {
    position: absolute;
    width: 80%;
    height: 55%;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    left: 10%;
    top: 10%;
  }

  .showGame img {
    width: 95px;
    height: 95px;
    z-index: 2;
    border-radius: 50px;
  }

  .flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .host_team {
    position: absolute;
    right: 1vw;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .draw_team {
    position: absolute;
    right: 20vw;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .guest_team {
    position: absolute;
    right: 40vw;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .separator {
    position: absolute;
    width: 40vw;
    height: 1px;
    bottom: 3vh;
    right: 5vw;
    border: 1px solid #EEEEEE;
    z-index: 1;
  }

  .lineBreaker {
    position: absolute;
    width: 70%;
    height: 1px;
    z-index: 7;
    border: 1px solid #EEEEEE;
    top: 75%;
    right: 3%;
  }

  .label p {
    margin-top: 25px;
    width: 20vw;
    height: 2vh;
    font-size: 2rem;
  }

  .label-host {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    height: 4vh;
    margin-top: -18px;
    z-index: 5;
  }

  .label-host p {
    margin-top: 0.6em;
    font-size: .7em;
  }

  .label-draw {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    height: 4vh;
    z-index: 5;
    margin-top: -18px;
  }

  .label-draw p {
    margin-top: 0.6em;
    font-size: .7em;
  }

  .label-guest {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    width: 10vw;
    height: 4vh;
    margin-top: -18px;
    z-index: 5;
  }

  .label-guest p {
    margin-top: 0.6em;
    font-size: .7em;
  }

  .buttonSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-top: 16%;
  }

  .predictButton {
    position: absolute;
    left: 26vw;
    top: 2vh;
    background-color: #FD6A16;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: .5em 2em;
    z-index: 3;
    height: 4.5vh;
    align-self: flex-end;
  }

  .predictButton p {
    font-size: 0.9rem;
  }

  .backToPredictButton {
    position: absolute;
    background-color: rgba(253, 106, 22, .1);
    top: 1vh;
    right: 32%;
    border-radius: 5px;
    color: #FD6A16;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    padding: .002em 1.5em;
  }

  .backToPredictButton p {
    margin-top: 12px;
    margin-left: 10px;
  }

  .backToPredictButton svg {
    margin-top: 15px;
    margin-left: 8px;
  }

  .predictStored {
    display: flex;
    justify-content: center;
    color: green;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 4;
  }

  .predictStored svg {
    margin-left: 2px;
    margin-top: 5px;
  }

  .otherPredict {
    position: absolute;
    right: 4em;
    top: 1.5em;
    z-index: 3;
    font-size: 1rem;
    color: #2981EC;
  }

  .otherPredict a {
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
  }

  .predictOver {
    position: absolute;
    bottom: 10%;
    left: 30%;
    border-radius: 10px;
    color: red;
    text-align: center;
    cursor: pointer;
    z-index: 4;
  }

  .verticalSeparator svg {
    height: 250px;
  }

  .leftHand {
    position: absolute;
    width: 22vw;
    height: 97%;
    left: 0;
    top: 2%;
    border-right: 2px dashed #EEEEEE;
    z-index: 4;
  }

  .leftHandHeader {
    display: flex;
    flex-direction: row;
    direction: rtl;
  }

  .leftHandHeader p {
    position: absolute;
    top: 12%;
    font-weight: bold;
    right: 5%;
  }

  .leftHandHeader span {
    font-size: 11px;
    position: absolute;
    top: 14%;
    left: 10%;
  }

  .award {
    color: #FD6A16;
    direction: rtl;
    position: absolute;
    width: 260px;
    right: 3%;
    top: 30%;
    display: flex;
    flex-direction: row;
  }

  .award p {
    padding-right: 5px;
    font-size: .7rem;
  }

  .headerSeparator {
    width: 85%;
    height: 2px;
    background-color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 10%;
  }

  .timerLabel {
    direction: rtl;
    position: absolute;
    top: 56%;
    right: 5%;
    font-size: 12px;
  }

  .timer {
    position: absolute;
    top: 70%;
    left: 88%;
    direction: rtl;
  }

  .timer table {
    position: absolute;
    width: 15vw;
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 2px #EEEEEE; /* this draws the table border  */
  }

  .timer th {
    border: 1px solid #EEEEEE;
    width: 7rem;
    height: 2.9rem;
    text-align: center;
  }

  .circles {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 15%;
  }

  .flex-wrapper {
    display: flex;
    width: 90%;
    flex-flow: row;
    justify-content: space-between;
  }

  .single-chart {
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  .circles svg {
    background-color: white !important;
  }

  .circular-chart {
    display: flex;
    width: fit-content;
    height: 8rem;
    justify-content: center;
    align-items: center;
  }

  .circular-chart path {
    margin: .1rem 0 12rem 0;
    width: 100vw;
    height: 15rem;
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4;
    width: inherit;
    height: inherit;
  }

  .circle {
    fill: none;
    stroke-width: .2rem;
    stroke-linecap: round;
    width: inherit;
    height: inherit;
    animation: progress 1s ease-out forwards;
  }

  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }


  .showGamePercentage {
    position: relative;
    display: flex;
    width: 90%;
    height: 100%;
    z-index: 3;
    flex-direction: row;
    justify-content: center;
    top: 12%;
  }

  .host_team_percentage {
    margin-right: 3%;
  }

  .draw_team_percentage {
    margin-right: 7%;
  }

  .guest_team_percentage {
    margin-right: 7%;
  }

  .label-guest-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 17vw;
    height: 4vh;
    font-size: 15px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-draw-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 17vw;
    height: 4vh;
    font-size: 15px;
    margin-top: -10px;
    z-index: 5;
  }

  .label-host-percentage {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 17vw;
    height: 4vh;
    font-size: 15px;
    margin-top: -10px;
    z-index: 5;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }

}

@media (min-width: 1800px) {
  .separator {
    position: absolute;
    width: 40vw;
    height: 1px;
    top: 10.5vh;
    right: 5vw;
    border: 1px solid #EEEEEE;
    z-index: 1;
  }
}
</style>
